/**********************************************************************************************************************
GENERAL STYLES
**********************************************************************************************************************/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;

    --color-1: #1F2937;
    --color-2: #3882F6;
    --color-3: #E5E7EB;
}

.header,
.hero,
.info,
.quote,
.cta {
    padding-inline: 300px;
}

.hero,
.info,
.quote,
.cta {
    padding-block: 100px;
}

/**********************************************************************************************************************
HEADER SECTION
**********************************************************************************************************************/

.header {
    background-color: var(--color-1);
    display: flex;
    justify-content: space-between;
    padding-block: 30px;
}


.header__title {
    font-size: 32px;
    font-weight: bold;
}


.header__links {
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
}

a,
a:visited,
a:hover {
    color: white;
    text-decoration: none;
}

/**********************************************************************************************************************
HERO SECTION
**********************************************************************************************************************/

.hero {
    background-color: var(--color-1);
    color: white;
    display: flex;
    align-items: center;
}

.hero>* {
    flex: 1 1 0;
}

.hero__content>*:not(:last-child) {
    margin-bottom: 20px;
}

.hero__title {
    font-size: 48px;
    font-weight: bold;
}

.hero__button {
    color: white;
    background-color: var(--color-2);
    border: none;
    border-radius: 8px;
    padding: 10px 30px;
    font-weight: bold;
}

.hero__image {
    background-color: rgb(77, 77, 77);
    display: flex;
    height: 300px;
    align-items: center;
    justify-content: center;
}

/**********************************************************************************************************************
INFO SECTION
**********************************************************************************************************************/

.info__title {
    margin-bottom: 50px;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
}

.info__items {
    display: flex;
    justify-content: center;
    gap: 100px;
    height: 180px;
    color: rgb(83, 83, 83);
}

.info__item {
    max-width: 170px;
}

.info__box {
    width: 170px;
    height: 170px;
    margin-inline: auto;
    border: 3px solid var(--color-2);
    border-radius: 10px;
    background-color: white;
}

.info__text {
    margin-top: 10px;
    text-align: center;
}

/**********************************************************************************************************************
QUOTE SECTION
**********************************************************************************************************************/

.quote {
    background-color: var(--color-3);
}

.quote__text {
    text-align: center;
    font-size: 24px;
    font-style: italic;
}

.quote__quotee {
    text-align: end;
    font-size: 20px;
    font-weight: bold;
}

/**********************************************************************************************************************
CALL TO ACTION (CTA) SECTION
**********************************************************************************************************************/

.cta {
    color: white;
}

.cta__content {
    padding: 50px 150px;
    background-color: var(--color-2);
    display: flex;
    border-radius: 10px;
}

.cta__text-container {
    flex-grow: 1;
}

.cta__title {
    font-size: 24px;
    font-weight: bold;
}

.cta__text {
    color: rgb(230, 230, 230);
}

.cta__button {
    padding: 10px 30px;
    background-color: var(--color-2);
    border: 3px solid white;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

/**********************************************************************************************************************
FOOTER SECTION
**********************************************************************************************************************/

.footer {
    padding-block: 40px;
    text-align: center;
    background-color: var(--color-1);
    color: white;
    font-size: 18px;
}